button {
  padding: 7px 15px;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: gray;
}

tr:nth-child(even) {
  background-color: lightgray;
}
